:root {
 
  --primary-color-highlight: #233D54;
  --bs-body-bg: #fcfbf1;
  --bs-body-font-family: 'Roboto', sans-serif;
}

.hero {
  position: relative;
  max-height: 100vh;
  background: rgba(37,35,36);
 

}
.hero__heading {
  color: rgb(238, 245, 105);
  font-family: 'Raleway', sans-serif;
 
}
.bg-image__hero {
  
  transform: rotate(-90deg);
}
.hero__content-width{
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero__heading {
      font-size: 4.2rem;
      letter-spacing: 4px;
  }
  .hero{
    background: linear-gradient(61deg, rgba(37,35,36,1) 77%, rgba(52,52,51,1) 100%);
    }
    
    .bg-image__hero {
      transform: initial;
    }
}
@media screen and (min-width: 1400px) {
  .hero__heading {
      font-size: 5.2rem;
  }
}



/* Showcase */
.showcase__video{
  max-width: 100%;
  object-fit: cover;
}
.showcase__thumbnail{
  width: 100%;
  object-fit: cover;
}
.badge{
  letter-spacing: 3px;
} 

/* services */
.service--background {
  background-color: #b2b3af;
}











